* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #101010;

  overflow: hidden;
}
.main-logo- {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4.1rem;
}

.foryou-respo {
  display: none;
}
.header {
  width: 100vw;
  height: 4rem;
  background-color: #101010;
  position: sticky;
  backdrop-filter: blur(28px);
  display: flex;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 20px;
  padding-top: 5px;
  z-index: 1;
}
svg {
  padding-top: 5px;
  cursor: pointer;
}
.navbar {
  padding: 0px 50px;
}
.navbar-main {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.nav-home,
.nav-search,
.nav-new,
.nav-notification,
.nav-profile {
  width: 5rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 0.5rem;
  flex-wrap: wrap;
}

.nav-options {
  width: 5rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  margin-left: 0.5rem;
}

/* ########################################################################## */

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.post,
.for-you {
  height: 200px;
}
.post {
  width: 75%;
  height: 100vh;
  overflow: scroll;
}
.for-you {
  width: 30%;
  height: 100vh;
}
.foryou {
  position: fixed;
  top: 85%;
  left: 10%;
}

.thread {
  height: 2.5rem;
  padding: 10px 0px;
  margin: 20px 0px 0px 0px;
  width: 49%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #313232;
}
.pfp {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.pfp-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.textbox {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;

  cursor: text;
}
.textbox-text {
  color: #777777;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.button {
  height: 40px;

  width: 6rem;
  background-color: #585858;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  cursor: not-allowed;
}
.button-text {
  font-weight: 600;
}

.threads-main {
  position: relative;
  left: 3.5rem;
}
.main-post-relative {
  margin-left: 30px;
  padding: 20px 0px 0px 0px;
}

.main-post {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 27rem;

  border-bottom: 1px solid #313232;
}

.post-header {
  width: 100%;
  height: 12%;

  display: flex;
}
.header-pfp {
  width: 10%;
  height: 100%;
}
.header-pfp-pfp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-pfp-pfp-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.pfp-follow {
  position: relative;
  left: 50%;
  bottom: 35%;
}
.header-name-caption {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #f3f5f7;

  padding-left: 5px;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.header-name {
  width: 100%;
  height: 50%;

  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.header-caption {
  width: 100%;
  height: 50%;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.header-option {
  width: 20%;
  height: 100%;

  display: flex;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.time {
  width: 50%;
  height: 100%;

  color: #777777;
  display: flex;
  justify-content: center;
}
.time span {
  position: relative;
  top: 9px;
}
.option {
  width: 50%;
  height: 100%;
}
.option svg {
  position: relative;
  top: 4px;
}

.post-content {
  width: 100%;
  height: 80%;

  display: flex;
}
.content-line {
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: center;
}
.line {
  width: 5%;
  height: 100%;
  background-color: #333638;
}
.content {
  width: 100%;
  height: 100%;
}
.content-img {
  width: 100%;
  height: 85%;
}
.img {
  height: 95%;
  width: 100%;
  margin-top: 10px;

  border-radius: 15px;
  background-image: url("photo-1599302592205-d7d683c83eea.avif");
  background-size: contain;
  background-repeat: no-repeat;
}

.content-likes {
  width: 100%;
  height: 12%;

  display: flex;
}
.content-like,
.content-comment,
.content-repost,
.content-share {
  height: 100%;
  width: 8%;
  position: relative;
  bottom: 10px;
}

.post-footer {
  width: 100%;
  height: 10%;

  display: flex;
}

.footer-pfp {
  width: 10%;
  height: 100%;
}
.footer-pfp-1 {
  height: 20px;
  width: 20px;

  border-radius: 50%;
  position: relative;

  left: 30%;
  background-image: url("pfp-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-pfp-2 {
  height: 16px;
  width: 16px;

  border-radius: 50%;
  position: relative;
  bottom: 30%;

  background-image: url("pfp-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-pfp-3 {
  height: 12px;
  width: 12px;

  border-radius: 50%;
  position: relative;
  bottom: 35%;
  left: 30%;
  background-image: url("pfp-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-comment {
  width: 90%;
  height: 100%;

  color: #777777;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.foooter {
  width: 55%;
  height: 100px;
}
/* RESPONSIVE CSS */
@media (max-width: 710px) {
  .thread,
  .threads-main {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 41rem;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar-main {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: #101010;
  }
  .nav-home,
  .nav-search,
  .nav-new,
  .nav-notification,
  .nav-profile {
    padding: 0;
  }
  .nav-options {
    position: absolute;
    right: 20px;
  }
  .for-you {
    display: none;
    height: 0;
    width: 0;
  }
  .main-container {
    display: block;
  }
  .foryou-respo {
    height: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .foryou-respo-page {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f3f5f7;
    color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
  }
  .foryou-respo-following {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(50, 51, 51);
    color: #777777;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
  }
  .post {
    width: 100%;
  }
  .main-post {
    width: 99%;
  }
  .main-post-relative {
    margin: 0;
  }
}
@media (min-height: 640px) and (max-height: 700px) {
  .navbar {
    top: 38rem;
  }
}
@media (min-height: 700px) and (max-height: 730px) {
  .navbar {
    top: 41rem;
  }
}
@media (min-height: 740px) and (max-height: 780px) {
  .navbar {
    top: 44rem;
  }
}
@media (min-height: 780px) and (max-height: 820px) {
  .navbar {
    top: 46rem;
  }
}
@media (min-height: 820px) and (max-height: 840px) {
  .navbar {
    top: 47.5rem;
  }
}
@media (min-height: 840px) and (max-height: 860px) {
  .navbar {
    top: 48rem;
  }
}
@media (min-height: 860px) {
  .navbar {
    top: 50rem;
  }
}

@media (min-height: 900px) {
  .navbar {
    top: 52rem;
  }
}
